# Ignore configuration files that may contain sensitive information
.DS_Store
test_ui/node_modules
test_ui/build
test_ui/build.zip

test_server/node_modules
test_server/.vscode
test_ui/node-postgres

test_ui/node-postgres/
node_postgres/